<!DOCTYPE html>
<html>
<head>
	<meta name="csrf-token" content="{{ csrf_token() }}">
	<link href="{{ url_for('static', filename='css/constant.css') }}" rel="stylesheet" media="screen">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	{% if font_theme %} 
	{{ font_theme|safe }}
	{% endif %}
    {% if html_header %} 
	{{ html_header|safe }}
	{% endif %}
	{% if color_theme %} 
	{{ color_theme|safe }}
	{% endif %}

	{% if extra_script %}
	{{ extra_script|safe }}
	{% endif %}

	<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>
</head>
<body id="root">

	<div class="main_win login_win">

		{% if content %}
		{% set extra_class="login_content" %}
		{% include 'content.html' %}
		{% endif %}

	</div>

	{% if load_spinner %} 
    {{ load_spinner|safe }}
    {% endif %}

	{% if end_js %} 
	{{ end_js|safe }}
	{% endif %}
	
</body>

<script type="text/javascript">
    document.getElementById('loading_holder').style.display = "none";
    {% if body_on_load %}{{ body_on_load|safe }}{% endif %}
</script>
</html>