.doday_shop_holder {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.shop_item_holder {
	margin: 10px 1%;
	width: 23%;
	min-width: 180px;
	max-width: 227px;
	height: 0;
	padding-top: clamp(235px, 30%, 300px);
	position: relative;

	box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);

	background-color: var(--white-color);
	border: 0;
	border-radius: 10px;
}

.shop_content {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	padding: 20px;

	overflow: hidden;

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.shop_img_holder {
	width: 90%;
	height: 0;
	padding-top: 90%;
	position: relative;
	overflow: hidden;

	background-color: black;
}

.shop_img_holder img {
	position: absolute;
	top: 0;
	left: -20%;
	width: auto;
	height: 100%;
}

.shop_item_holder h3 {
	width: 100%;
	font-weight: 900;
	font-size: var(--normal-text);
	line-height: calc(1.3 * var(--normal-text));
	color: var(--dark-color);
	margin: 10px 0 0;
}

.shop_item_holder h6 {
	width: 100%;
	font-weight: 600;
	font-size: var(--small-text);
	line-height: calc(1.3 * var(--small-text));
	color: var(--dark-color);
	margin: 5px 0 0;
}